<h2>Your Trips</h2>

<% @destinations.each do |destination| %>
    <li><%= link_to destination.full_destination_name, destination_itineraries_path(destination) %>
<% end %>
<br>

<br><%= link_to "Create New Destination", new_destination_path %>