<h1>This is your new destination's show page</h1>

<%= @destination.city %><br>
<%= @destination.state %><br>
<%= @destination.country %><br>

<%= link_to "Create New Itinerary", new_itinerary_path %>